<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Resetar Senha</h3>

      <p class="text-center">Digite seu endereço de e-mail para solicitar uma redefinição de senha.</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Resetar Senha" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Voltar? <span class="redirect" routerLink="/sign-in"> Logar</span></span>
    </div>

  </div>
</div>