<div class="displayTable">
  <div class="displayTableCell">

    <div class="px-logo">
      <a href="http://www.brq.com/" target="_blank">
        <img class="mb-2" src="../../../assets/brq-digital-solutions.png" alt="" width="200" height="150">
      </a>
    </div>

    <div class="authBlock">
      <h3>Obrigado por se cadastrar</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Enviámos um email de confirmação para <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Verifique seu email e clique no link para verificar seu endereço de email.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Reenviar email de verificação
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Voltar?<span class="redirect" routerLink="/sign-in"> Logar</span></span>
    </div>

  </div>
</div>
